/*FOOTER*/

.footer {
  @include three-color-gradient-bg($ultra-dark-blue, $darker-blue, $dark-blue);
  align-items: center;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-wrapper {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 16px 0;
  max-width: 1280px;
  width: 100%;

  p {
    margin: 0;
  }

  .footer-brand {
    display:flex;
    align-items: center;
  }

  .slogan {
    align-items: center;
    display: flex;
    justify-content: center;
    letter-spacing: 1.5px;
  }

  .designer {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    p {
      text-align: right;
    }
    a {
      color: $white;
      text-decoration: none;
    }
  }
}
