/*HEADER*/

/*HEADER AND NAVBAR*/

.header-wrapper {
  color: $white;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0.5rem 0;
  width: 100%;
}

.header {
  @include three-color-gradient-bg($ultra-dark-blue, $darker-blue, $dark-blue);
}

