/*HOVER SECTION*/

.hover-section {
  align-items: center;
  color: $dark-blue;
  display: flex;
  justify-content: center;
  min-height: 450px;
}

.hover-section-container {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "square1 square2 square2 square3"
                        "square1 square4 square5 square5";
  max-width: 1024px;
  width: 100%;
  min-height: calc(400px * 0.9);

  & .square1 {
    grid-area: square1;
    cursor: pointer;
    background:  $dark-blue;
  }

  & .square2 {
    grid-area: square2;
    cursor: pointer;
    background:  $dark-blue;
  }

  & .square3 {
    grid-area: square3;
    cursor: pointer;
    background:  $dark-blue;
  }

  & .square4 {
    grid-area: square4;
    cursor: pointer;
    background:  $dark-blue;
  }

  & .square5 {
    grid-area: square5;
    cursor: pointer;
    background:  $dark-blue;
  }
}