/*LOGO*/

//This mixin build the logo by only receiving size

@mixin dh-logo ($logo-size) {
  .logo {
    display: flex;
    perspective-origin: top;
    perspective: $logo-size * 0.25;
    position: relative;
    transform-origin: center;
  }

  .p-1 {
    align-self: flex-end;
    margin-right: $logo-size * 0.025;
    transform: rotateY(-20deg);
    transform-origin: right;
  }

  .p-2 {
    margin-left: $logo-size * 0.025;
    transform: rotateY(20deg);
    transform-origin: left;
  }

  .sq-d, .sq-g {
    height: $logo-size;
    width: $logo-size;
  }

  .sq-d-part-1, .sq-d-part-2, .sq-d-part-3 {
    box-sizing: border-box;
    width: 100%;
  }

  .sq-d-part-1 {
    border: $logo-size * 0.25 solid $skyblue;
    border-bottom: 0;
    height: 55%;
  }

  .sq-d-part-2 {
    border: $logo-size * 0.25 solid $skyblue;
    border-bottom: 0;
    border-left: 0;
    border-top: 0;
    height: 20%;
  }

  .sq-d-part-3 {
    border: $logo-size * 0.25 solid $skyblue;
    border-top: 0;
    height: 25%;
  }

  .sq-g-part-1, .sq-g-part-2, .sq-g-part-3 {
    box-sizing: border-box;
    width: 100%;
    transition: 0.3s;
  }

  .sq-g-part-1 {
    border: $logo-size * 0.25 solid $white;
    border-bottom: 0;
    height: 25%;
  }

  .sq-g-part-2 {
    border: $logo-size * 0.25 solid $white;
    border-bottom: 0;
    border-right: 0;
    border-top: 0;
    height: 30%;
  }

  .sq-g-part-3 {
    border: $logo-size * 0.25 solid $white;
    border-top: 0;
    height: 45%;
  }
}

//Built logos

.hero-logo {
  @include dh-logo($hero-logo-size);
}

.header-logo {
  @include dh-logo($header-logo-size);

  cursor: pointer;
  left: -23px;
  position: relative;
  top: 9px;

  .sq-g-part-1, .sq-g-part-2, .sq-g-part-3,
  .sq-d-part-1, .sq-d-part-2, .sq-d-part-3 {
      border-color: $logo-link-color;
    }

  &:hover {
    .sq-g-part-1, .sq-g-part-2, .sq-g-part-3 {
      border-color: $white;
    }

    .sq-d-part-1, .sq-d-part-2, .sq-d-part-3 {
      border-color: $skyblue;
    }
  }
}

//footer logo

.footer-logo {
  @include dh-logo($footer-logo-size);
  margin: 0 -8px;
  position: relative;
  top: 2px;
}

