/*BUTTONS*/

.navbar-button {

  a{
    color: rgba(255, 255, 255, 0.849);
    padding: 0 1rem;
    text-decoration: none;

    &:hover {
      color: $white;
    }
  }

  &:nth-last-child(1) a {
    padding-right: 0;
  }

  &:nth-last-child(4) a {
    padding-left: 0;
  }
}