/*LINKS*/

.navbar-links {

  .navbar-link{
    color: $ultra-light-gray;
    padding: 0 1rem;
    text-decoration: none;
    transition: .3s;

    &:hover, &.active {
      color: lighten($skyblue, 5%);
    }
  }

  &:last-child a {
    padding-right: 0;
  }

  &:first-child a {
    padding-left: 0;
  }
}
